<% provide(:title, "About") %>
<h1>Get Exercise!とは</h1>
  <div class="about form">
    <h2>
    Energy and persistence conquer all things!<br>～「気力」と「継続」で人生を豊かに～
    </h2>
    <p>
    Get Exerciseとは<br>運動習慣を身につけるためのつぶやきアプリです。
    毎日汗をかいた内容を友達にシェアし、<br>良い運動習慣を身に着けましょう。
    </p>
    
    </div>