<% provide(:title, "Help") %>
<h1>ヘルプ</h1>
<p>よくある質問やお問合わせについて</p>

<div class="help form"></div>
  <h2><a href="">よくある質問</a></h2>
  <h2>サービスについて</h2>
    <ul>
      <li>利用規約</li>
      <li>個人情報保護方針</li>
      <li>行動履歴情報の取得及び利用について</li>
      <li>推奨環境</li>
    </ul>
  <h2>お問い合わせ</h2>
    <p>お問合わせは<a href="">こちら</a>まで</p>
  
  
  
  

</p>