<% provide(:title, "Help") %>
<h1>ヘルプ</h1>
<p>よくある質問やお問合わせについて</p>

<div class="help form"></div>
  <h3><a href="">よくある質問</a></h3>
  <h3>サービスについて</h3>
    <ul>
      <li><a href="">利用規約</a></li>
      <li><a href="">個人情報保護方針</a></li>
      <li><a href="">行動履歴情報の取得及び利用について</a></li>
      <li><a href="">推奨環境</a></li>
    </ul>
  <h3>お問い合わせ</h3>
    <p>お問合わせは<a href="">こちら</a>まで</p>
  
  
  
  

</p>