<footer class="footer">
  <small>
    <p>This application made by Osamu Hiraishi</p>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Get Exerciseとは？",   about_path %></li>
      <li><%= link_to "お問い合わせ", contact_path %></li>
    </ul>
  </nav>
</footer>